
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

 body{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/bakgrund1.jpg) no-repeat;
    background-size: cover;
    background-position: center;

 }

 html{
    font-size: 80%;
}

 header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
 
.logo {
    font-size :3rem;
    color: #fff8f8;
    user-select: none;
}
.navigation a { 
    position: relative;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}
.navigation a::after { 
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: orange;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0); 
    transition: transform .5s;   
}

.navigation a:hover::after {
transform: scaleX(1);
transform-origin:left;
 }


.navigation .btnLogin-popup { 
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: orange;
    color: #000000;
}



/* login */
.wrapper {
    
    position: fixed;
}

.wrapper{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    position: fixed;
    width: 500px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(22, 20, 20, 0.933);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
    font-weight: 500;
    position: absolute;
    z-index: 2;
}

  
.login-register {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hidden{
    display: none;
}



.wrapper.register{
    height: 650px;
}

.wrapper .form__box{
    width: 100%;
    padding: 40px;
}

.wrapper .form__box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.register .form__box.login{
    transition: none;
    transform: translateX(500px);
}

.wrapper .form__box.register{
    position: absolute;
    transition: none;
    transform: translateX(-500px);
}

.wrapper.register .form__box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.form__box h2{
    font-size: 5rem;
    color: var(--black);
    text-align: center;
    color: #fff;
}

.input__box{
    position: relative;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid orange;
    margin: 50px 0;
    
}

.input__box label{
    position: absolute;
    top: 25%;
    left: 4px;
    transform: translateX(1%);
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    pointer-events: none;
    transition: .5s;
}

.input__box input:focus~label,
.input__box input:valid~label{
    top: -1rem;
}

.input__box input{
    color: var(--black);
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 35px 0 5px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    text-transform: lowercase;
}

.input__box .icon{
    position: absolute;
    right: 6px;
    font-size: 2rem;
    color: var(--black);
    line-height: 57px;
}

.remember__forget{
    font-size: 2rem;
    color: var(--black);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.remember__forget label input{
    accent-color: var(--black);
    margin-right: 3px;
}

.remember__forget a{
    color: var(--black);
    text-decoration: none;
}

.remember__forget a:hover{
    text-decoration: underline;
    color: orange;
}


.btn:hover{
    background: orange;
}

.login__register{
    cursor: pointer;
    font-size: 2rem;
    color: var(--black);
    font-weight: 500;
    margin: -15px 0 15px;
    text-align: center;

}

.login .btn{
    width: 100%;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem;
}

.register .btn{
    width: 100%;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem;
}
.login__register p,
.login__register a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login__register p a:hover{
    text-decoration: underline;
    color: orange;
}


/* HOME */
.hidden{
    display: none;
}
.intro{
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.intro h1{
    font-size: 36px;
}

.intro p {
    font-size: 18px;
    margin: 2rem 3rem ;
    padding: 2rem;

  }

  .intro p1 {
  font-size: 20px;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  right: 20px;
}

/* About */
.About{
    color: #fff;
    text-align: center;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    position: fixed;
    width: 700px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(22, 20, 20, 0.933);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
    font-weight: 500;
    position: absolute;
    z-index: 2;
} 

.hidden{
    display: none;
}

.About h2{
    font-size: 40px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.About p {
    font-size: 18px;
    text-align:left;
    margin-top: -60px;
    margin-bottom: 10px;
    position: absolute;
    max-width: 95%;
}

.About p1 {
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    right: 140px;
}

/* Contact */

.Contact main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background: transparent;
    backdrop-filter: blur(20px);
  }
  
.Contact h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
  }
  
 .Contact h2 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .Contact address {
    margin-bottom: 40px;
  }
  
  .Contact p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 8px;
  }
  
  .Contact a {
    color: #e0960d;
    text-decoration: none;
  }
  
  .Contact a:hover {
    text-decoration: underline;
  }
  
  .Contact strong {
    font-weight: bold;
  }
  
        /*Sale*/

  /* Stil för hela sidan */
.sale body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Stil för huvudrubriken */
 .sale h1 {
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
  }
  
  /* Stil för beskrivningstexten */
  .sale p {
    text-align: center;
    margin-bottom: 100px;
    font-size: 1.5rem;
    
  }
  
  /* Bilarna redigering */
  .sale {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

  }
  
  .sale div {
    flex-basis: 40%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .sale img {
    width: 60%;
    height: auto;
    display: block;
  }
  
  .sale ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
  }
  
  .sale ul li {
    margin-bottom: 5px;
  }
  
  /* Add some space between the first two images */
  .sale div:nth-child(-n+2) {
    margin-right: 20px;
  }
  
  /* Reset the margin for the remaining images */
  .sale div:nth-child(n+3) {
    margin-right: 0;
    margin-top: 20px;
  }

  button {
    font-size: 1.8em;
    background-color: #e0960d;
    color:black;
  }

  .hidden {
    display: none;
  }
  